.App {
  text-align: center;
  font-family: Press Start 2p;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* #root {
  background-color: #282c34;
} */
.parent {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  /* background-color: #212529; */
  height: 100vh;
  margin: 0;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 20px;
  margin: 20px;
}
.header-grid {
  width: 100vh;
}
#pageHeader {
  grid-area: header;
  display: grid;
  place-items: center;
}
#container {
  width: 100%;
  height: 100%;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle {
  grid-area: article;
  /* background-color: whitesmoke; */
  font-family: Press Start 2p;
}
#mainNav {
  grid-area: nav;
  display: grid;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(https://media4.giphy.com/media/Ssts7rvD7E01O/giphy.gif?cid=ecf05e475aj4d5uba074qh7cx7bhjc9lku0c944s6jwiah6y&rid=giphy.gif&ct=g;); */
  /* background-repeat: no-repeat; */
}
#siteAds {
  grid-area: ads;
  display: grid;
  place-items: center;
}

/* css grid card */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
}
.grid-packs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

.grid-packs > article img {
  max-width: 100%;
  height: 20vh;
}
.grid-packs > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(236, 230, 230, 0.3);
}
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(236, 230, 230, 0.3);
}
.grid > article img {
  max-width: 100%;
  height: 10vh;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
.text > button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.welcome {
  margin: 10%;
}
